body {
	position: relative;
	width: 1366px;
	height: 1024px;
	background-image: url(img/Vector.png), url(img/Vector_1.png);
	background-size: 62%, 53%;
	background-position: 107% 100%, 104% 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	opacity: 0.8;
	overflow: hidden;
}

.block-left {
	width: 50%;
	height: 800px;
	overflow: auto;
	float: left;
}

.block-right {
	width: 50%;
	height: 800px;
	overflow: auto;
}

.header__logo {
	position: relative;
	background-image: url(img/Rectangle_5.2.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 22px;
	width: 32px;
	top: 2vh;
	border-radius: 0px;
	left: 14%;
}

.header__text {
	position: relative;
	font-family: sans-serif;
	font-weight: bold;
	color: #2E1449;
	font-size: 21px;
	top: 1.4vh;
	left: 12.4%;
	width: 80px;
	height: 22px;
}

#toggle-menu {
	visibility: hidden;
}

nav {
	position: relative;
	color: #2E1449;
	text-align: right;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 12.2px;
	line-height: 21px;
	word-spacing: 15.9px;
	bottom: 6.5vh;
	right: 11.1vw;
}

nav a {
	text-decoration: none;
	vertical-align: middle;
	color: #000;
}

nav a:hover {
	text-decoration: underline;
	background: #2E1449;
   	color: #FFF;
}

.nav__img_facebook, .nav__img_twitter {
	width: 23px;
	height: 23px;
}

.section__text {
	position: relative;
	left: 25%;
	top: 19%;
	width: 380px;
	height: 180px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 42.5px;
	line-height: 49px;
	display: flex;
	align-items: center;
	color: #2E1449;
}

.section__text_alt {
	left: 26.3%;
	bottom: 19vh;
	width: 410px;
	height: 81px;
	font-weight: normal;
	font-size: 14.7px;
	line-height: 18px;
}

.section__submit {
	position: relative;
	top: 12.9vh;
	left: 4vw;
	width: 100%;
	height: 320px;
}

.section__submit_text {
	position: relative;
	width: 340px;
	height: 20px;
	font-family: 'PT Sans Caption';
	font-style: normal;
	font-weight: bold;
	font-size: 16.7px;
	line-height: 31px;
	color: #2E1449;
}

.section__submit_input {
	top: 13vh;
	width: 268px;
	height: 33px;
	background: #FFFFFF;
	border-radius: 3px;
	font-size: 16px;
}

.section__submit_button {
	top: 14.2vh;
	width: 275px;
	height: 38px;
	background: #7400E8;
	border-radius: 3px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16.5px;
	line-height: 25px;
	text-align: center;
	color: #FFFFFF;
}

.section__submit_button:hover {
	background: #380B61;
	color: #ffe;
   	text-decoration: underline;
}

.section__submit_agreement {
	width: 290px;
	height: 37.24px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 14.9px;
	color: #000000;
	opacity: 0.5;
	top: 14vh;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 105%;
	background: #7400E8;
}

@media all and (max-width: 1024px) {

	body {
		position: relative;
		width: 1024px;
		height: 768px;
		background-image: url(img/Vector_1024.png), url(img/Vector_1024_1.png);
		background-size: 60%, 55%;
		background-position: 100% 108%, 100% 110%;
		background-attachment: fixed;
		background-repeat: no-repeat;
		opacity: 0.8;
		overflow: hidden;
	}

	.header__logo {
		position: relative;
		background-image: url(img/Rectangle_5.2.png);
		background-repeat: no-repeat;
		background-size: 45%;
		width: 100px;
		height: 66px;
		border-radius: 0px;
		left: 6.4vw;
		top: 9.5vh;
	}

	.header__text {
		position: relative;
		top: 3.9vh;
		text-align: left;
		font-family: sans-serif;
		font-weight: bold;
		color: #2E1449;
		font-size: 28px;
		left: 3.8vw;
	}

	nav {
		right: 11vw;
		bottom: 4vh;
		color: #2E1449;
		text-align: right;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 12.9px;
		line-height: 21px;
		word-spacing: 20px;
	}

	nav a {
		text-decoration: none;
		vertical-align: middle;
	}

	nav a:hover {
		text-decoration: underline;
		background: #2E1449;
   		color: #FFF;
	}

	.nav__img_facebook, .nav__img_twitter {
		width: 24px;
		height: 24px;
	}

	.section__text {
		position: relative;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 41.7px;
		line-height: 48px;
		display: flex;
		color: #2E1449;
		left: 3.9vw;
		top: 19vh;
	}

	.section__text_alt {
		width: 360px;
		height: 94px;
		font-weight: normal;
		font-size: 13.2px;
		line-height: 15.5px;
		left: 3.8vw;
		top: 16.8vh;
	}

	.section__submit {
		width: 350px;
		height: 210px;
		top: 0;
		left: 0;
	}

	.section__submit_text {
		width: 350px;
		height: 31.92px;
		font-family: 'PT Sans Caption';
		font-style: normal;
		font-weight: bold;
		font-size: 16.9px;
		line-height: 31px;
		color: #2E1449;
		top: 22.6vh;
		left: 10.8vw;
	}

	.section__submit_input {
		top: 21vh;
		left: 10.8vw;
		width: 275px;
		height: 31px;
		background: #FFFFFF;
		border-radius: 3px;
		font-size: 12px;
	}

	.section__submit_button {
		top: 22.8vh;
		left: 10.8vw;
		width: 281px;
		height: 36px;
		background: #7400E8;
		border-radius: 3px;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 25px;
		text-align: center;
		color: #FFFFFF;
	}

	.section__submit_button:hover {
		background: #380B61;
		color: #ffe;
   		text-decoration: underline;
	}

	.section__submit_agreement {
		width: 289px;
		height: 82px;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 11.2px;
		line-height: 12px;
		color: #000000;
		opacity: 0.5;
		left: 11vw;
		top: 23vh;
	}

	footer {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		background: #7400E8;
	}
}

@media all and (max-width: 768px) {

	body {
		position: relative;
		width: 375px;
		height: 667px;
		background-image: url(img/Vector_375.png);
		background-size: 108%;
		background-position: 60% 100%;
		background-attachment: fixed;
		background-repeat: no-repeat;
		opacity: 0.8;
		overflow-x: hidden;
		overflow-y: hidden;
	}

	.block-left, .block-right {
		width: 100%;
		height: 50%;
		overflow: auto;
	}

	.header__logo {
		position: relative;
		left: 15%;
		top: 20vh;
		background-size: 50%;
		width: 100px;
		height: 66px;
		border-radius: 0px;
	}

	.header__text {
		position: relative;
		left: 7%;
		top: 15vh;
		font-size: 32px;
	}

	nav {
		display: block;
		flex-direction: column;
		justify-content: flex-start;
		background: #FFF;
		opacity: 1;
		visibility: hidden;
	}

	nav a {
		flex-grow: 1;
		color: #fff;
		padding: 15px 10px;
		text-decoration: none;
		text-align: center;
	}

	nav a:hover {
		text-decoration: underline;
		background: #2E1449;
    	color: #FFF;
	}

	.container {
		cursor: pointer;
	}

	.b1, .b2, .b3 {
		width: 28px;
		height: 4px;
		background-color: #A563E7;
		margin: 3px 0;
		transition: 0.3s;
	}

	.change .b1 {
		transform: rotate(-45deg) translate(-9px, 6px);
	}

	.change .b3 {
		transform: rotate(45deg) translate(-8px, -8px);
	}

	.change .b2 {
		opacity: 0;
	}

	#toggle-menu {
		display: none;
		position: absolute;
		z-index: 1000;
	}

	#toggle-menu:checked + nav {
		display: flex;
		visibility: visible;
		top: 100%;
		z-index: 1000;
	}

	.nav__features, .nav__contact, .nav__faq, .nav__support {
		width: 100%;
		height: 100%;
		left: 0;
		z-index: 1000;
		color: #2E1449;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
	}

	.nav__img_facebook, .nav__img_twitter {
		width: 25px;
		height: 25px;
		z-index: 1000;
	}

	.section__text {
		position: absolute;
		width: 320px;
		height: 124px;
		left: 8px;
		top: 500vh;
		font-size: 35px;
		line-height: 40px;
		display: flex;
		align-items: center;
		text-align: center;
	}

	.section__text_alt {
		position: absolute;
		width: 260px;
		height: 75px;
		left: 10%;
		top: 45%;
		font-size: 15.5px;
		line-height: 19px;
		display: flex;
		align-items: center;
		text-align: center;
	}

	.section__submit {
		position: absolute;
		width: 205px;
		height: 24px;
		left: 25%;
		top: 62%;
	}

	.section__submit_text {
		position: absolute;
		width: 205px;
		height: 24px;
		left: 2px;
		top: -84px;
		font-size: 17.8px;
		line-height: 23px;
	}

	.section__submit_input {
		position: absolute;
		width: 282px;
		height: 35px;
		left: 3px;
		top: -46px;
	}

	.section__submit_button {
		position: absolute;
		width: 297px;
		height: 39px;
		left: 3px;
		top: 4.4px;
		font-size: 13px;
		text-align: center;
		line-height: 16px;
	}

	.section__submit_agreement {
		position: absolute;
		width: 300px;
		height: 28px;
		left: 2px;
		top: 174px;
		font-size: 11.8px;
		line-height: 14px;
	}

	footer {
		display: none;
	}