body {
	position: relative;
	width: 1366px;
	height: 1024px;
	background-image: url(img/Vector.png), url(img/Vector_1.png);
	background-size: 60%, 50%;
	background-position: 100% 450%, 100% 205%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	opacity: 0.8;
	overflow: hidden;
}

.header__logo {
	position: relative;
	background-image: url(img/Rectangle_5.2.png);
	background-repeat: no-repeat;
	background-size: 65%;
	height: 65px;
	width: 65px;
	top: 26px;
	border-radius: 0px;
	margin-left: 15.8%;
}

.header__text {
	position: relative;
	top: -42px;
	text-align: left;
	font-family: sans-serif;
	font-weight: bold;
	color: #2E1449;
	font-size: 24.9px;
	margin-left: 14.1%;
}

#toggle-menu {
	visibility: hidden;
}

nav {
	position: relative;
	margin-top: -9.6%;
	margin-right: -2.8%;
	color: #2E1449;
	text-align: right;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	word-spacing: 19px;
}

nav a {
	text-decoration: none;
	vertical-align: middle;
}

nav a:hover {
	text-decoration: underline;
	background: #2E1449;
   	color: #FFF;
   	width: 100%;
   	height: 100%;
}

.nav__img_facebook, .nav__img_twitter {
	width: 25px;
	height: 25px;
}

.section__text {
	position: relative;
	margin-left: 14.3%;
	margin-top: 14.8%;
	width: 450px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 49px;
	line-height: 57.9px;
	display: flex;
	align-items: center;
	color: #2E1449;
}

.section__text_alt {
	margin-top: -2.7%;
	margin-left: 15%;
	width: 470px;
	font-weight: normal;
	font-size: 16.8px;
	line-height: 20px;
}

.section__submit {
	position: relative;
	left: 52.9%;
	top: -25.2%;
	width: 340px;
	height: 223.44px;
}

.section__submit_text {
	position: relative;
	width: 206.15px;
	height: 31.92px;
	font-family: 'PT Sans Caption';
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 31px;
	color: #2E1449;
}

.section__submit_input {
	top: -10px;
	width: 302px;
	height: 38px;
	background: #FFFFFF;
	border-radius: 5px;
	font-size: 16px;
	padding-left: 3%;
}

.section__submit_button {
	top: -9.5px;
	width: 315px;
	height: 43px;
	background: #7400E8;
	border-radius: 5px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16.5px;
	line-height: 25px;
	text-align: center;
	color: #FFFFFF;
	margin-top: 3%;
}

.section__submit_button:hover {
	background: #380B61;
	color: #ffe;
   	text-decoration: underline;
}

.section__submit_agreement {
	width: 320px;
	height: 37.24px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12.7px;
	line-height: 16.5px;
	color: #000000;
	opacity: 0.5;
	margin-top: 1%;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 105%;
	background: #7400E8;
}

@media all and (max-width: 1024px) {

	body {
		position: relative;
		width: 1024px;
		height: 768px;
		background-image: url(img/Vector_1024.png), url(img/Vector_1024_1.png);
		background-size: 60%, 55%;
		background-position: 100% 155%, 100% 145%;
		background-attachment: fixed;
		background-repeat: no-repeat;
		opacity: 0.8;
		overflow: hidden;
	}

	.header__logo {
		position: relative;
		background-image: url(img/Rectangle_5.2.png);
		background-repeat: no-repeat;
		background-size: 45%;
		width: 100px;
		height: 66px;
		border-radius: 0px;
		margin-left: 6.5%;
		top: 35px;
	}

	.header__text {
		position: relative;
		top: -32px;
		text-align: left;
		font-family: sans-serif;
		font-weight: bold;
		color: #2E1449;
		font-size: 26px;
		margin-left: 4%;
	}

	nav {
		top: -23px;
		left: -200px;
		color: #2E1449;
		text-align: right;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 21px;
		word-spacing: 20px;
	}

	nav a {
		text-decoration: none;
		vertical-align: middle;
	}

	nav a:hover {
		text-decoration: underline;
		background: #2E1449;
   		color: #FFF;
	}

	.nav__img_facebook, .nav__img_twitter {
		width: 20px;
		height: 20px;
	}

	.section__text {
		position: relative;
		margin-left: 4.5%;
		margin-top: -9.6%;
		width: 350px;
		top: 27.5%;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 38px;
		line-height: 45px;
		display: flex;
		align-items: center;
		color: #2E1449;
	}

	.section__text_alt {
		margin-top: -2.8%;
		margin-left: 4.2%;
		width: 330px;
		font-weight: normal;
		font-size: 12.2px;
		line-height: 15.5px;
	}

	.section__submit {
		margin-top: 20%;
		margin-left: -10.6%;
		width: 350px;
		height: 210px;
	}

	.section__submit_text {
		width: 350px;
		height: 31.92px;
		font-family: 'PT Sans Caption';
		font-style: normal;
		font-weight: bold;
		font-size: 15.8px;
		line-height: 31px;
		color: #2E1449;
		padding-left: 1%;
		padding-top: 1.5%;
	}

	.section__submit_input {
		top: -80px;
		width: 245px;
		height: 30px;
		background: #FFFFFF;
		border-radius: 5px;
		font-size: 12px;
		padding-left: 3.9%;
	}

	.section__submit_button {
		top: -140px;
		width: 265px;
		height: 35px;
		background: #7400E8;
		border-radius: 5px;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 25px;
		text-align: center;
		color: #FFFFFF;
	}

	.section__submit_button:hover {
		background: #380B61;
		color: #ffe;
   		text-decoration: underline;
	}

	.section__submit_agreement {
		width: 285px;
		height: 82px;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 10.5px;
		line-height: 12px;
		color: #000000;
		opacity: 0.5;
		margin-top: -37%;
		padding-left: 1%;
	}

	footer {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		background: #7400E8;
	}
}

@media all and (max-width: 375px) {

	body {
		position: relative;
		width: 375px;
		height: 667px;
		background-image: url(img/Vector_375.png);
		background-size: 108%;
		background-position: 60% 100%;
		background-attachment: fixed;
		background-repeat: no-repeat;
		opacity: 0.8;
		overflow-x: hidden;
		overflow-y: hidden;
	}

	.header__logo {
		position: relative;
		left: 0px;
		top: 33px;
		background-size: 47%;
		width: 100px;
		height: 66px;
		border-radius: 0px;
		margin-left: 14.5%;
	}

	.header__text {
		position: relative;
		margin-left: 8%;
		top: -35px;
		font-size: 28px;
	}

	nav {
		display: block;
		flex-direction: column;
		justify-content: flex-start;
		background: #FFF;
		opacity: 1;
		margin-top: 35px;
		left: -10px;
		visibility: hidden;
	}

	nav a {
		flex-grow: 1;
		color: #fff;
		padding: 15px 10px;
		text-decoration: none;
		text-align: center;
	}

	nav a:hover {
		text-decoration: underline;
		background: #2E1449;
    	color: #FFF;
	}

	.container {
		cursor: pointer;
		margin-top: -104px;	
		padding-left: 318px;
	}

	.b1, .b2, .b3 {
		width: 28px;
		height: 4px;
		background-color: #A563E7;
		margin: 3px 0;
		transition: 0.3s;
	}

	.change .b1 {
		transform: rotate(-45deg) translate(-9px, 6px);
	}

	.change .b3 {
		transform: rotate(45deg) translate(-8px, -8px);
	}

	.change .b2 {
		opacity: 0;
	}

	#toggle-menu {
		display: none;
		position: absolute;
		z-index: 1000;
	}

	#toggle-menu:checked + nav {
		display: flex;
		visibility: visible;
		top: 100%;
		z-index: 1000;
	}

	.nav__features, .nav__contact, .nav__faq, .nav__support {
		width: 100%;
		height: 100%;
		left: 0;
		z-index: 1000;
		color: #2E1449;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
	}

	.nav__img_facebook, .nav__img_twitter {
		width: 25px;
		height: 25px;
		z-index: 1000;
	}

	.section__text {
		position: absolute;
		width: 320px;
		height: 124px;
		left: 8px;
		top: 26.5%;
		font-size: 35px;
		line-height: 40px;
		display: flex;
		align-items: center;
		text-align: center;
	}

	.section__text_alt {
		position: absolute;
		width: 260px;
		height: 75px;
		left: 10%;
		top: 45%;
		font-size: 15.5px;
		line-height: 19px;
		display: flex;
		align-items: center;
		text-align: center;
	}

	.section__submit {
		position: absolute;
		width: 205px;
		height: 24px;
		left: 25%;
		top: 62%;
	}

	.section__submit_text {
		position: absolute;
		width: 205px;
		height: 24px;
		left: 2px;
		top: -84px;
		font-size: 17.8px;
		line-height: 23px;
	}

	.section__submit_input {
		position: absolute;
		width: 282px;
		height: 35px;
		left: 3px;
		top: -46px;
	}

	.section__submit_button {
		position: absolute;
		width: 297px;
		height: 39px;
		left: 3px;
		top: 4.4px;
		font-size: 13px;
		text-align: center;
		line-height: 16px;
	}

	.section__submit_agreement {
		position: absolute;
		width: 300px;
		height: 28px;
		left: 2px;
		top: 174px;
		font-size: 11.8px;
		line-height: 14px;
	}

	footer {
		display: none;
	}